@tailwind base;
@tailwind components;
@tailwind utilities;

.color {
  background: rgb(254, 248, 232);
}

.color-text {
  color: rgb(254, 248, 232);
}

.color-border {
  border-color: rgb(254, 248, 232);
}

.background {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.shadow {
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,.5);
}
